---
import IconButton from '../ui/IconButton.astro';
import InstagramIcon from '../icons/InstagramIcon.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
---

<footer class="bg-dark pt-24 pb-12">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="mb-12 w-full px-4 text-slate-300 md:w-1/3">
        <h3 class="mb-4 text-2xl font-bold text-white">About</h3>
        <p class="">hisyam.s901@gmail.com</p>
        <p>Kuta Baru</p>
        <p>Kec. Pasar Kemis</p>
        <p>Kabupaten Tangerang</p>
        <p>Banten</p>
      </div>
      <div class="mb-12 w-full px-4 text-slate-300 md:w-1/3">
        <h3 class="mb-4 text-2xl font-bold text-white">Portfolio</h3>
        <ul class="text-slate-300">
          <li>
            <a
              href="#portfolio"
              class="hover:text-primary mb-3 inline-block text-base"
              >LibraFlow LMS (Project KP)</a
            >
          </li>
          <li>
            <a
              href="#portfolio"
              class="hover:text-primary mb-3 inline-block text-base"
              >Sistem Perpustakaan (PKM)</a
            >
          </li>
          <li>
            <a
              href="#portfolio"
              class="hover:text-primary mb-3 inline-block text-base"
              >Astro Blog</a
            >
          </li>
          <li>
            <a
              href="#portfolio"
              class="hover:text-primary mb-3 inline-block text-base"
              >Ticket Booking</a
            >
          </li>
          <li>
            <a
              href="#portfolio"
              class="hover:text-primary mb-3 inline-block text-base"
              >Pricing Table</a
            >
          </li>
          <li>
            <a
              href="#portfolio"
              class="hover:text-primary mb-3 inline-block text-base"
              >Landing Page Business</a
            >
          </li>
        </ul>
      </div>
      <div class="mb-12 w-full px-4 text-slate-300 md:w-1/3">
        <h3 class="mb-4 text-2xl font-bold text-white">Information</h3>
        <ul class="text-slate-300">
          <li>
            <a
              href="#home"
              class="hover:text-primary mb-3 inline-block text-base">Home</a
            >
          </li>
          <li>
            <a
              href="#about"
              class="hover:text-primary mb-3 inline-block text-base">About me</a
            >
          </li>
          <li>
            <a
              href="#skills"
              class="hover:text-primary mb-3 inline-block text-base">Skills</a
            >
          </li>
          <li>
            <a
              href="#portfolio"
              class="hover:text-primary mb-3 inline-block text-base"
              >Portfolio</a
            >
          </li>
          <li>
            <a
              href="#contact"
              class="hover:text-primary mb-3 inline-block text-base">Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full border-t border-slate-800 pt-10">
      <div class="mb-8 flex items-center justify-center px-4">
        <IconButton href="https://instagram.com/hisyamsz_/" title="Instagram">
          <InstagramIcon />
        </IconButton>
        <IconButton
          href="https://www.linkedin.com/in/hisyam-santoso-92a747279/"
          title="LinkedIn"
        >
          <LinkedInIcon />
        </IconButton>
        <IconButton href="https://github.com/hisyamsz" title="GitHub">
          <GithubIcon />
        </IconButton>
      </div>
      <p class="mb-2 text-center text-sm font-medium text-slate-300">
        Made with ❤️ by <a
          href="https://instagram.com/hisyamsz_/"
          target="_blank"
          class="text-primary font-bold">Hisyam Santoso</a
        >. inspired from <a
          href="https://www.youtube.com/@sandhikagalihWPU"
          target="_blank"
          class="text-primary font-bold">WPU</a
        >.
      </p>
      <p class="text-center text-sm font-medium text-slate-300">&copy; 2026</p>
    </div>
  </div>
</footer>
